/*========== MENU ==========*/
.navbar-default {
	background-color: transparent;
	border-color: #ffffff;
	border: 0px solid transparent;
	.nav{
    padding: 10px 0;
	}
}
.navbar-brand{
  margin: 0 35px !important;
}
.menu{
	z-index: 10;
  background-image: url(../assets/imagenes/line-menu.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 0;
  position: fixed;
  width: 100%;
  background-color: #fff;
}
.navbar-default::before{
    position: relative;
    width: 100%;
    top: -40px;
	  background-image: url(../assets/imagenes/menu-line.png);
	  background-size: contain;
	  background-repeat: no-repeat;
	  background-position-y: 0;
} 

@media only screen and (max-width: 765px) and (min-width: 0){
}

@media only screen and (max-width: 765px) and (min-width: 0)and (orientation: landscape) {
}