/*========== IMG-PORTADA ==========*/
.img-portada{
	height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
	background-image: url(../assets/imagenes/bg-home.jpg);
}
.dv-portada{
	position: absolute;
  bottom: 20px;
  width: 100%;
}
.text-portada{
	margin-left: 6em;
	margin-top: 7em;
	p{
    line-height: 1.2;
	}
}
.botones-portada{
	margin-top: 3em;
}
.boton{
	font-family: "Fredoka One";
	letter-spacing: 1px;
 i{
    margin-left: 5px;
 }
}

/*========== BACKGROUND IMAGEN ENTRE SECTION ==========*/
.bg-join, 
.bg-event, 
.bg-camping, 
.bg-ocean, 
.bg-opinion, 
.bg-mapa,
.bg-contacto{
	position: relative;
}

.bg-event{
	&:before{
    content: ' ';
    background-image: url(../assets/imagenes/pino2.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 0px;
    display: block;
    width: 100%;
    height: 222px;
 }
}

.bg-join{
	&:after{
    content: ' ';
    background-image: url(../assets/imagenes/green-line.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 51px;
    display: block;
    width: 100%;
    height: 72px;
 }
}
.bg-camping{
	&:before{
		content: ' ';
		background-size: cover;
		background: url(../assets/imagenes/pino.png);
		position: relative;
		top: 1px;
		display: block;
		width: 100%;
		height: 170px;
  }
}

.bg-ocean{
	&:before{
		content: ' ';
		background-image: url(../assets/imagenes/line-blue.png);
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		top:0px;
		display: block;
		width: 100%;
		height: 139px;
	}
}

.bg-opinion{
	&:before{
    content: ' ';
    background-image: url(../assets/imagenes/green-line2.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    z-index: 1;
    display: block;
    width: 100%;
    height: 62px;
	}
}

.bg-mapa{
	&:before{
    content: ' ';
    background-image: url(../assets/imagenes/pino3.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -168px;
    display: block;
    width: 100%;
    height: 168px;
	}
}

.bg-contacto{
	&:before{
    content: ' ';
    background-image: url(../assets/imagenes/contac-line.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    display: block;
    width: 100%;
    height: 80px;
	}
}
/*========== JOIN OUR TRIBE ==========*/
.join{
	.personaje-1{
		width: 60%;
		margin: 0 auto;
	}
}
.dev-join{
	margin-top: 50px;
	h1{
		margin-bottom: 25px;
		font-size: 60px;
		font-family: "TheKingsoftheHouse-Regular";
	}
}

.list-join, .list-event{
	ul{
		list-style: none;
		li{
			margin-bottom: 20px;
	    display: inline-block;
		}
	}
	.number, .dev-list-join{
		display: inline-block;
	}
	.dev-list-join{
    margin-left: 20px;
	}
	.number{
		position: relative;
		top: -20px;
		img{
			width: 65px;
		}
	}
}

.list-join{
	ul{
		list-style: none;
		li{
			margin-bottom: 20px;
	    display: inline-block;
		}
		li:nth-child(1){
			&:after{
				content:url(../assets/imagenes/flecha1.png);
		    position: relative;
		    right: 329px;
				top: 55px;
			}
		}
		li:nth-child(2){
			&:after{
				content:url(../assets/imagenes/flecha2.png);
		    position: relative;
				right: 354px;
				top: 50px;
			}
		}
		p{
			color: #fffcdf;
		}
	}
}

/*========== CAMPING ACTIVITIES ==========*/
.camping{
	background-image: url(../assets/imagenes/puntitos-espacio.png);
	background-repeat: no-repeat;
	background-size: cover;
  padding-top: 75px;
}
.title span{
  margin-bottom: 9px;
  display: inline-block;
  font-size: 17px;
  font-family: "TheKingsoftheHouse-Regular";
}
.title h1 img{
	width: 46px;
  top: -16px;
  position: relative;
}

.slider-actividad{
	margin: 40px 50px;
}
.slick-slide{
	height: auto !important;
}

.box-actividad{
	padding: 14px;
	margin: 10px;
	.img-actividad{
    transition: all .5s;
		padding: 0 25px;
	}
	.img-actividad img{
		border: 7px solid #fff;
		border-radius: 58px;
	}
	h4{
		font-family: "TheKingsoftheHouse-Regular";
	}
	p{
		font-size: 12px;
	}
}

/*========== OCEAN OF EMOTIONS ==========*/
.ocean{
	padding-top: 75px;
	background: #297702; /* Old browsers */
	background: -moz-linear-gradient(top,  #297702 0%, #4fbc47 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #297702 0%,#4fbc47 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #297702 0%,#4fbc47 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#297702', endColorstr='#4fbc47',GradientType=0 ); /* IE6-9 */
}
.contenido-ocean{
	margin: 0 55px;
}
.img-ocean{
	width: 40%;
}
.text-ocean > span{
	font-family: "TheKingsoftheHouse-Regular";
	font-size: 33px;
	display: inline-block;
  margin-bottom: 10px;
	
}
.slider-ocean img{
	border: 7px solid #fff;
	border-radius: 5px;
}
.img-1{
  transform: rotate(-1deg);
}
.img-2{
  transform: rotate(1deg);
}
.img-3{
  transform: rotate(-1deg);
}
.img-4{
  transform: rotate(1deg);
}
.img-5{
  transform: rotate(-1deg);
}

/*========== EVENT SHEDULE ==========*/
.event{
	padding-top:75px;
	background: #008bc7; /* Old browsers */
	background: -moz-linear-gradient(top,  #008bc7 0%, #0052aa 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #008bc7 0%,#0052aa 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #008bc7 0%,#0052aa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008bc7', endColorstr='#0052aa',GradientType=0 ); /* IE6-9 */
	.list-event{
		margin-left: 100px;
	}
}

.day-event{
	font-family: "TheKingsoftheHouse-Regular";
	font-size: 25px;
	margin: 3em 0 1em;
}
.first {
	.day-event{
		color: #b8f3f2;
	}
	ul{
		li:nth-child(1){
			&:after{
				content:url(../assets/imagenes/flecha1-1.png);
		    position: relative;
		    right: 300px;
				top: 55px;
			}
		}
		li:nth-child(2){
			&:after{
				content:url(../assets/imagenes/flecha2-2.png);
		    position: relative;
				right: 300px;
				top: 50px;
			}
		}
		li:nth-child(3){
			&:after{
				content:url(../assets/imagenes/flecha1-1.png);
		    position: relative;
		    right: 325px;
		    top: 51px;
			}
		}
		li:nth-child(4){
			&:after{
				content:url(../assets/imagenes/flecha1-1.png);
		    position: relative;
		    right: 364px;
		    top: 50px;
			}
		}
	}
}
.second {
	.day-event{
		color: #fbd482;
	}
	ul{
		li:nth-child(1){
			&:after{
				content:url(../assets/imagenes/flecha1-1.png);
		    position: relative;
		    right: 300px;
				top: 55px;
			}
		}
		li:nth-child(2){
			&:after{
				content:url(../assets/imagenes/flecha2-2.png);
		    position: relative;
				right: 300px;
				top: 50px;
			}
		}
		li:nth-child(3){
			&:after{
				content:url(../assets/imagenes/flecha1-1.png);
		    position: relative;
		    right: 325px;
		    top: 51px;
			}
		}	
		li:nth-child(4){
			&:after{
				content:url(../assets/imagenes/flecha1-1.png);
		    position: relative;
		    right: 364px;
		    top: 50px;
			}
		}
		li:nth-child(5){
			&:after{
				content:url(../assets/imagenes/flecha2-2.png);
		    position: relative;
		    right: 260px;
		    top: 50px;
			}
		}
	}
}


/*========== OPINION ==========*/
.opinion{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#59b12f+1,84ce2f+100 */
	background: #59b12f; /* Old browsers */
	background: -moz-linear-gradient(top,  #59b12f 1%, #7dca2f 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #59b12f 1%,#7dca2f 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #59b12f 1%,#7dca2f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59b12f', endColorstr='#84ce2f',GradientType=0 ); /* IE6-9 */
}
.slider-opinion{
	margin: 0 90px;
	.number-opinion{
		display: block;
	  position: relative;
	}
  &:before{
		content:url(../assets/imagenes/nube3.png);
		position: relative;
		left: 0px;
		top: 60px;
  }
  &:after{
		content:url(../assets/imagenes/nube4.png);
		position: relative;
    left: 930px;
    top: -340px;
  }
}

.bg-nube > img{
 	padding: 0 15px;
}
.contenido-opinion{
	position: absolute;
	top: 30px;
	width: 100%;
	.img-opinion img{
    border: 6px solid #fff;
    border-radius: 36px;
    width: 133px;
    margin: 0 auto;
	}
	.text-opinion{
		margin-top: 15px;
	}
	p{
		margin: 18px 120px;
		font-size: 15px;
	}
  &:after{
		content:url(../assets/imagenes/comillas2.png);
		position: relative;
		left: 350px;
		top: -40px;
  }
}

/*========== GOOGLE MAPS ==========*/
.map{    
  #map-canvas{
    /*-webkit-filter: grayscale(100%);*/ 
    width: 100%;
    height: 590px;
  }
  .gmnoprint{
  	display: none;
  }
}

/*========== CONTACTO ==========*/
.contacto{
  padding: 25px 0 80px 0;
	background: #297702;
	background: -moz-linear-gradient(top, #538611 0%, rgb(83, 142, 7) 100%);
	background: -webkit-linear-gradient(top, #538611 0%, rgb(83, 142, 7) 100%);
	background: linear-gradient(to bottom, #538611 0%, rgb(83, 142, 7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#538611', endColorstr='rgb(83, 142, 7)',GradientType=0 );
}
.text-contacto{
	margin: 0 35px;
}
.text-contacto p{
	color: #b6de64;
}
.formulario{
	.form, .textarea{
		position: relative;
		input{
			border-radius: 40px;
		}
		textarea{
			border-radius: 25px;
		}
	}
	input, textarea{
    background-color: #699217;
    border: 0px;
    padding: 14px 60px;
    width: 100%;
    margin: 7px 0;
	}
}
.form1:before{
	position:absolute;
	top: 14px;
  left: 21px;
	content:url(../assets/imagenes/ficon1.png);
}
.form2:before{
	position:absolute;
	top: 21px;
  left: 21px;
	content:url(../assets/imagenes/ficon3.png);
}
.textarea:before{
	position:absolute;
	top: 21px;
  left: 21px;
	content:url(../assets/imagenes/ficon2.png);
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
.form{
}


/*========== FOOTER ==========*/
footer{
  padding: 50px 0;
  background-color: #398ee8;
}
.img-footer img{
    width: 65%;
}
.text-footer{
	h4{
		margin-bottom: 29px;
	}
	a{
		color: #fff;
	}
	ul{
		list-style: none;
		li{
	    margin: 12px 0;
		}
	}
}
.redes{
	li{
    margin: 0 10px !important;
		float: left;
	}
}
.firma{
	background-color: #297fd9;
	.icon-home1, .icon-home2{
    display: inline-block;
    margin: 2em 5em 1em;
	}
	.icon-home2{
		right: 45px;
    position: absolute;
	}
}
@media only screen and (max-width: 765px) and (min-width: 0){
	.text-portada{
		margin:0; 
	}
}

@media only screen and (max-width: 765px) and (min-width: 0)and (orientation: landscape) {
}