/*========== IMG-PORTADA ==========*/
.img-portada{
	height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
	background-image: url(../assets/imagenes/bg-home.jpg);
}
.dv-portada{
	position: absolute;
  bottom: 20px;
  width: 100%;
}
.text-portada{
	margin-left: 6em;
	margin-top: 7em;
	p{
    line-height: 1.2;
	}
}
.botones-portada{
	margin-top: 3em;
}
.boton{
	font-family: "Fredoka One";
	letter-spacing: 1px;
 i{
    margin-left: 5px;
 }
}
/*========== JOIN OUR TRIBE ==========*/
.join{
	.personaje-1{
		width: 60%;
		margin: 0 auto;
	}
}

.dev-join{
	margin-top: 50px;
	h1{
		margin-bottom: 25px;
		font-size: 60px;
		font-family: "TheKingsoftheHouse-Regular";
	}
}

.list-join{
	ul{
		list-style: none;
		li{
			margin-bottom: 20px;
	    display: inline-block;
		}
		li:nth-child(1){
			&:after{
				content:url(../assets/imagenes/flecha1.png);
		    position: relative;
		    right: 300px;
				top: 55px;
			}
		}
		li:nth-child(2){
			&:after{
				content:url(../assets/imagenes/flecha2.png);
		    position: relative;
				right: 300px;
				top: 50px;
			}
		}
		p{
			color: #fffcdf;
		}
	}
	.number, .dev-list-join{
		display: inline-block;
	}
	.dev-list-join{
    margin-left: 20px;
	}
	.number{
		position: relative;
		top: -20px;
		img{
			width: 65px;
		}
	}
}

/*========== CAMPING ACTIVITIES ==========*/
.camping{
	background-image: url(../assets/imagenes/puntitos-espacio.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 120px;
	.bg-extra{
		padding: 37px;
    background-size: cover;
		background-image: url(../assets/imagenes/green-line.png)
	}
	.title span{
    margin-bottom: 9px;
    display: inline-block;
    font-size: 17px;
    font-family: "TheKingsoftheHouse-Regular";
	}
	.title h1 img{
		width: 46px;
    top: -16px;
    position: relative;
	}
}

.slider-actividad{
	margin: 40px 50px;
}
.slick-slide{
	height: auto !important;
}

.box-actividad{
	padding: 14px;
	margin: 10px;
	.img-actividad{
    transition: all .5s;
		padding: 0 25px;
	}
	.img-actividad img{
		border: 7px solid #fff;
		border-radius: 58px;
	}
	h4{
		font-family: "TheKingsoftheHouse-Regular";
	}
	p{
		font-size: 12px;
	}
}

/*========== OCEAN OF EMOTIONS ==========*/
.ocean{
	background: #297702; /* Old browsers */
	background: -moz-linear-gradient(top,  #297702 0%, #4fbc47 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #297702 0%,#4fbc47 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #297702 0%,#4fbc47 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#297702', endColorstr='#4fbc47',GradientType=0 ); /* IE6-9 */
	.bg-extra2{
		padding: 80px;
    background-size: cover;
    background-image: url(../assets/imagenes/pino.png);
    position: relative;
    top: -160px;
	}
}
.contenido-ocean{
	margin: 0 55px;
}
.img-ocean{
	width: 40%;
}
.text-ocean > span{
	font-family: "TheKingsoftheHouse-Regular";
	font-size: 33px;
	display: inline-block;
  margin-bottom: 20px;
	
}
.slider-ocean img{
	border: 7px solid #fff;
	border-radius: 5px;
}
.img-1{
  transform: rotate(-1deg);
}
.img-2{
  transform: rotate(1deg);
}
.img-3{
  transform: rotate(-1deg);
}
.img-4{
  transform: rotate(1deg);
}
.img-5{
  transform: rotate(-1deg);
}
.slick-dotted.slick-slider{
	margin-bottom: 0 !important;
}

@media only screen and (max-width: 765px) and (min-width: 0){
	.text-portada{
		margin:0; 
	}
}

@media only screen and (max-width: 765px) and (min-width: 0)and (orientation: landscape) {
}