/*========== IMG-PORTADA ==========*/
.img-portada{
	height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
	background-image: url(../assets/imagenes/bg-home.jpg);
	.row{
   
	}
}
	.dv-portada{
		position: absolute;
    bottom: 0;
    width: 100%;
	}
.text-portada{
  margin-left: 6em;
  margin-top: 7em;
	h1{
		span{
			color: #c0e4fe;
		}
	}
	p{
    line-height: 1.2;
	}
}
.botones-portada{
    margin-top: 3em;
}

@media only screen and (max-width: 765px) and (min-width: 0){
	.text-portada{
		margin:0; 
	}
}

@media only screen and (max-width: 765px) and (min-width: 0)and (orientation: landscape) {
}